**/node_modules
**/*~
dist
package-lock.json
**/*solved*
**/*Config.js*
!telemetry.config.json
/public/*.js
/public/*.html
vacationplanner/.firebase/hosting.YnVpbGQ.cache
vacationplanner/.firebaserc
vacationplanner/build/index.html
vacationplanner/firebase.json
vacationplanner/src/pages/searchResultPage.js
vacationplanner/build/style.css
vacationplanner/build/static/js/main.1c511fc4.js.map
vacationplanner/build/static/js/main.1c511fc4.js.LICENSE.txt
vacationplanner/build/static/js/main.1c511fc4.js
vacationplanner/build/static/js/787.c04e9031.chunk.js.map
vacationplanner/build/static/js/787.c04e9031.chunk.js
vacationplanner/build/static/css/main.f92f2c78.css.map
vacationplanner/build/static/css/main.f92f2c78.css
vacationplanner/build/robots.txt
vacationplanner/build/manifest.json
vacationplanner/build/asset-manifest.json
vacationplanner/build/static/css/main.94b875bf.css
vacationplanner/build/static/css/main.94b875bf.css.map
vacationplanner/build/static/js/main.111715ba.js
vacationplanner/build/static/js/main.111715ba.js.LICENSE.txt
vacationplanner/build/static/js/main.111715ba.js.map
vacationplanner/build/static/js/main.fe53fe49.js.map
vacationplanner/build/static/js/main.fe53fe49.js.LICENSE.txt
vacationplanner/build/static/js/main.fe53fe49.js
vacationplanner/build/static/css/main.0a324073.css.map
vacationplanner/build/static/css/main.0a324073.css
vacationplanner/firebase.json
vacationplanner/build/static/css/main.f021be31.css.map
vacationplanner/build/static/css/main.f021be31.css
vacationplanner/.firebase/hosting.QlVJTEQ.cache
vacationplanner/firebase-debug.log
