.my-modal {
  width: 70vw; /* Occupy the 90% of the screen width */
  max-width: 70vw;
}
.Details-View-Main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
.detailsViewBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
.sidebarParents {
  padding-left: 10px;
}
.sidebarText {
  width: 275px;
  left: 20px;
}
.sidebar-btn {
  position: absolute;
  left: 100px;
}
.btn-group {
  position: center;
  padding-left: 20px;
}
.sidebar-bullet {
  position: relative;
  left: -27px;
}
