/*
@Author Mahdi <mnazari@kth.se>
@Co-Author Emil <emilgo@kth.se>
TODO:
DONE:
*/

.form-input {
  padding: 0.75rem;
  border: 1px solid rgb(16, 4, 4);
  width: 18rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.signingBtns {
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.printBtn {
  padding: 3px;
  width: auto;
  float: right;
}

.searchResults {
  padding: 0.75rem;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 700px;
  height: 800px;
}
.search-ResultView {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 500px) {
  .main-containt {
    min-width: 800px;
    min-height: 800px;
  }
}

.search-Sidebar-ResultView {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  min-width: 800px;
  min-height: 800px;
}
.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}
.sidebarParents {
  padding-top: 25px;
  width: 300px;
  height: 800px;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.weatherSidebar {
  padding-top: 25px;
  margin-left: 25px;
  width: 315px;
  height: auto;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.signInPage {
  width: 1200px;
  height: 800px;
  display: grid;
}
.signInOpts {
  padding: 3px;
  text-align: center;
  color: #fff;
  padding: 5px;
  width: 200px;
  margin: auto;
}
.logo {
  width: 150px;
  height: 150px;
}
.signingViewParent {
  padding: 20px;
  width: auto;
  height: 150px;
}
.sidebarText {
  padding-left: 25px;
  padding-right: 50px;
  display: grid;
}
.my-modal {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
}

@import "react-datepicker/dist/react-datepicker.css";
