.searchButton {
  color: rgb(24, 12, 244);
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.form-input {
  padding: 0.75rem;
  border: 1px solid rgb(16, 4, 4);
  width: 18rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
