/*
@Author Mahdi <mnazari@kth.se>
@Co-Author Emil <emilgo@kth.se>
TODO:
DONE:
*/
.searchButton {
  color: rgb(24, 12, 244);
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.form-input {
  padding: 0.75rem;
  border: 1px solid rgb(16, 4, 4);
  width: 18rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.signingBtns {
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  float: right;
}

.searchResults {
  border: 1.3px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 700px;
  height: 800px;
}
.search-ResultView {
  padding: 20px;
  width: 800px;
  border-style: solid;
}

@media (min-width: 1000px) {
  .search-Sidebar-ResultView {
    display: flex;
    min-width: 500px;
    min-height: 800px;
  }
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebarParents {
  width: 400px;
  border-style: solid;
  height: 900px;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.signInPage {
  width: 1200px;
  height: 800px;
  border: 1px solid #0a0909;
  display: grid;
}
.signInOpts {
  padding: 3px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  padding: 5px;
  width: 100px;
  margin: auto;
}
.logo {
  width: 150 px;
  height: 150px;
}
.signingViewParent {
  width: 1150px;
  height: 300px;
}
