body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.count{
  border-style:solid;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 5px;
}
.searchResult{
  text-align: center;
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding: 5px;
}
.searchResultViewMain{
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  outline: solid;

  background-color: #f0f0f0;
}
.star-image{
  display: inline-block;

}